<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
    <head>
        <title th:text="${appProperty.appName}"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link th:href="@{/css/app.css}" rel="stylesheet"/>

        <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/webjars/d3js/5.16.0/d3.min.js"></script>
    </head>
</div>


<div th:fragment="nav">

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <a class="navbar-brand" href="/"><span th:text="${appProperty.appName}"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>

            </ul>

            <ul class="navbar-nav my-2 my-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/User/List">
                            <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; User
                        </a>
                        <a class="dropdown-item" href="/Release/Landing">
                            <i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Release
                        </a>
                        <!--<div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>-->
                    </div>
                </li>

                <span th:if="${session.USER != null}">
                    <li class="nav-item active">
                        <a class="nav-link" href="/User/LoginForm">Logout<span class="sr-only">(current)</span></a>
                    </li>
                </span>
                <span th:if="${session.USER == null}">
                    <li class="nav-item active">
                        <a class="nav-link" href="/User/LoginForm">Login<span class="sr-only">(current)</span></a>
                    </li>
                </span>
            </ul>
        </div>
    </nav>

    <div style="display:block; width:100%; height:5em; padding-top:0.3em; padding-bottom:0.5em;">
        <center>
            <span th:if="${session.ERROR_MSG != null}">
                <div id="errorMsgId" class="alert  alert-danger" role="alert" style="width: 60%;">
                    <span th:text="${session.ERROR_MSG}"/>
                </div>
            </span>
            <span th:if="${session.WARN_MSG != null}">
                <div id="warnMsgId" class="alert alert-warning" role="alert" style="width: 60%;">
                    <span th:text="${session.WARN_MSG}"/>
                </div>
            </span>
            <span th:if="${session.ACTION_MSG != null}">
                <div id="actionMsgId" class="alert alert-success" role="alert" style="width: 60%;">
                    <span th:text="${session.ACTION_MSG}"/>
                </div>
            </span>
        </center>
    </div>
    <span th:text="${T(app.session.SessionUtil).cleanViewedMsgs(#session)}"></span>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</div>

