<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <header th:insert="layout/AppLayout.html :: header"></header>
</head>
<body>
<div th:insert="layout/AppLayout.html :: nav"></div>

<div class="container-fluid h-100">

    <div class="row justify-content-center align-items-center h-100">
        <div class="card border-secondary" style="width: 40%">
            <h6 class="card-header bg-info text-white mb-3">Releases</h6>
            <div class="card-body">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col col-xl-12">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>