<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <header th:insert="layout/appLayout.html :: header"></header>
</head>
<body>
<div th:insert="layout/appLayout.html :: nav"></div>

<div class="container-fluid h-100 text-dark">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-xl-4">
            <form action="/Login" method="post">
                <div class="form-group">
                    <label for="userNameId">User Name</label>
                    <input type="text" class="form-control" id="userNameId" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label for="passwordId">Password</label>
                    <input type="text" class="form-control" id="passwordId" placeholder="Password">
                </div>
                <center>
                    <div class="form-group">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </center>
            </form>
        </div>
    </div>
</div>

</body>
</html>