<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <header th:insert="layout/appLayout.html :: header"></header>
</head>
<body>
<div th:insert="layout/appLayout.html :: nav"></div>

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="card border-secondary" style="width: 80%">
            <h5 class="card-header bg-info text-white mb-3">Add Admin</h5>
            <div class="card-body">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col col-xl-12">
                        <form id="addAdminId" action="/CreateAdminUser" method="post">

                            <div class="row">

                                <div class="col">
                                    <div class="form-group">
                                        <label for="userNameId">User Name</label>
                                        <input id="userNameId" name="userName" type="text" class="form-control"
                                               placeholder="User Name">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="passwordId">Password</label>
                                        <input id="passwordId" name="password" type="password" class="form-control"
                                               placeholder="Password">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <center>
                                        <div class="form-group">
                                            <div class="col">
                                                <button type="submit" class="btn btn-success">Sign in</button>
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script language="JavaScript">

    $('#addAdminId').submit(function( event ) {
        if($.trim($('#userNameId').val()) == ''){
            $('#userNameId').change().addClass('border border-danger');
            $('#userNameId').attr('placeholder', 'User Name is required');
            return false;
        }
        return true;
    });

</script>


</body>
</html>